.hero-block img:hover {
  animation: zoom-and-rotate 2s infinite;
  -webkit-animation: zoom-and-rotate 2s infinite;
}

@keyframes zoom-and-rotate {
  0% {
    transform: scale(1) rotate3d(0, 1, 0, 0);
    -webkit-transform: scale(1) rotate3d(0, 1, 0, 0);
    -moz-transform: scale(1) rotate3d(0, 1, 0, 0);
    -ms-transform: scale(1) rotate3d(0, 1, 0, 0);
    -o-transform: scale(1) rotate3d(0, 1, 0, 0);
}
  50% {
    transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
    -webkit-transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
    -moz-transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
    -ms-transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
    -o-transform: scale(1.5) rotate3d(0, 1, 0, 180deg);
}
100% {
    transform: scale(1) rotate3d(0, 1, 0, 0);
}
}

